<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 	  layout:decorate="layout/default_layout">
 	  <!-- layout Content -->
<th:block layout:fragment="content">
	<div class="container">
		<h1>Board View.</h1>
		<form id="frm" action="/board/view/action" method="post">
			<input type="hidden" name="id" th:value="${info.id}">
			<div class="mb-3">
				<label class="form-label">Title.</label>
				<input type="text" class="read form-control" name="title" th:value="${info.title}" readonly="readonly">
			</div>
			<div class="mb-3">
				<label class="form-label">Content</label>
				<textarea class="read form-control"  rows="5"
					name="content" th:text="${info.content}" readonly="readonly">
				</textarea>
			</div>
			<div class="mb-3">
				<label class="form-label">Writer.</label>
				<input type="text" class="form-control" name="registerId" th:value="${info.registerId}" readonly="readonly">
			</div>
			<div class="float-left">
				<button type="button" class="btn btn-success"
				onclick="javascript:location.href='/board/list'">Previous</button>
				<button type="button" class="btn edit btn-primary" th:onclick="edit()">Edit</button>
				<button type="submit" class="btn save btn-primary" style="display:none">Save</button>
			</div>
			<div class="float-right">
				<button type="button" class="btn btn-danger" th:onclick="fnViewDelete()">Delete</button>
			</div>
		</form>
	</div>
	<!-- 부트스트랩 js, jquery 추가  -->
	<script src="/js/lib/jquery.min.js"></script>
	<script src="/js/lib/bootstrap.min.js"></script>
	<script th:inline="javascript">
	
		function edit(){
			var inputs = document.getElementsByClassName('read');
			for(var i=0; i<inputs.length; i++){
				inputs[i].readOnly = false;
			}
			$(".edit").css("display", "none");
			$(".save").css("display", "inline-block");
			
		}
		function fnViewDelete(){
			if(confirm("Do you want to delete it?")){
				let frm = $("#frm");
				frm.attr("action", "/board/view/delete");
				frm.attr("method", "post");
				frm.submit();
			}
		}
	</script>
</th:block>
</html>